<div class="row mt-3" *ngIf="!flagAsignaturasCupo">
  <div class="col-lg-2 col-xs-12">
    <h5 class="text-muted">CARGA DE ESTUDIANTES:</h5>
  </div>
  <div class="col-lg-7 col-xs-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon-carrera">Carrera:</span>
      </div>
      <select [(ngModel)]="carrera.id" class="form-control"
              id="carrera" name="carrera" required (change)="getCupos(1);getDetalleMatriculasForMalla()">
        <option value="0" selected>SELECCIONE...</option>
        <option value="{{carrera.id}}" *ngFor="let carrera of carreras" class="small"
                [ngClass]="{'bg-warning':carrera.descripcion=='MALLA ANTIGUA','text-white':carrera.descripcion=='MALLA ANTIGUA'}">
          {{ carrera.descripcion }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-lg-3 col-xs-12" *ngIf="carrera.id!=0">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon-periodo">Periodo:</span>
        <select [(ngModel)]="periodoAcademico" class="form-control"
                id="periodoAcademico" name="periodoAcademico" required
                (change)="getCupos(1)">
          <option value="" selected>TODOS</option>
          <option value="{{periodoAcademico.id}}" *ngFor="let periodoAcademico of peridoAcademicos" class="small">
            {{periodoAcademico.nombre}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>

<hr>
<!--Buscador-->
<div class="row" *ngIf="!flagAsignaturasCupo && carrera.id!=0">
  <div class="col-lg-4 col-xs-12 mt-1">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fa fa-search" id="basic-addon-buscar"></span>
      </div>
      <input type="text" class="form-control text-uppercase" [(ngModel)]="buscador" (keyup)="getCupo($event)"
             placeholder="Identificación, Apellidos o Nombres">
    </div>
  </div>
  <div class="col-lg-8 col-xs-12 mt-1" *ngIf="carrera.id!=0">
    <div class="row">
      <div class="col-lg-12">
        <div class=" pull-right">
          <div class="btn-group" role="group" aria-label="Basic example">
            <!--            <button type="button" class="btn btn-info m-1 btn-sm" (click)="exportCuposCarrera()"-->
            <!--                    title="Descargar todos los Cupos de la carrera" *ngIf="carrera.id!=0">-->
            <!--              <span class="fa fa-download"></span>-->
            <!--              Descargar cupos por carrera-->
            <!--            </button>-->
            <button type="button" class="btn btn-info m-1 btn-sm" (click)="exportCuposPeriodo()"
                    title="Descargar todos los cupos del periodo académico">
              <span class="fa fa-download"> Descargar Estudiantes</span>

            </button>
            <!--            <button type="button" class="btn btn-primary m-1 btn-sm" (click)="validateCuposCarrera()"-->
            <!--                    title="Aprobar todos los cupos de la carrera"-->
            <!--                    *ngIf="carrera.id!=0">-->
            <!--              <span class="fa fa-check"> </span>-->
            <!--              Aprobar cupos por carrera-->
            <!--            </button>-->
            <button type="button" class="btn btn-primary m-1 btn-sm" (click)="validateCuposPeriodoAcademico()"
                    title="Aprobar todos los cupos del periodo académico">
              <span class="fa fa-check"> Aprobar Estudiantes</span>

            </button>
          </div>
          <!--          <div class="btn-group" role="group" aria-label="Basic example">-->
          <!--            <button type="button" class="btn btn-danger m-1 btn-sm" (click)="deleteCuposCarrera()"-->
          <!--                    title="Eliminar todos los cupos de la carrera">-->
          <!--              <span class="fa fa-trash"> </span>-->
          <!--              Eliminar cupos por carrera-->
          <!--            </button>-->
          <button type="button" class="btn btn-danger m-1 btn-sm" (click)="deleteCuposPeriodoAcademico()"
                  title="Eliminar todos los cupos del periodo académico">
            <span class="fa fa-trash"> Eliminar Estudiantes</span>

          </button>
          <label for="file-upload" class="btn btn-success fa fa-upload  m-1 btn-sm" title="Subir archivo de cupos">
            Seleccionar archivo
          </label>
          <input id="file-upload" type="file" style='display: none;' [(ngModel)]="archivoTemp" name="fileExcel"
                 (change)="uploadEstudiantes($event)">
          <a class="fa fa-download btn btn-success m-1 btn-sm" href="assets/formats/archivo_carga_estudiantes.xlsx"
             target="_blank"
             title="Formato para carga de cupos">
            Descargar Formato Estudiantes
          </a>
        </div>
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>

<!--Tabla cupos-->
<div class="row mt-1" *ngIf="!flagAsignaturasCupo && carrera.id!=0">
  <div class="col-lg-12">
    <table class="table table-responsive table-hover">
      <thead class="table-default">
      <th width="13%">Cédula</th>
      <th width="13%">Primer Apellido</th>
      <th width="13%">Segundo Apellido</th>
      <th width="13%">Primer Nombre</th>
      <th width="13%">Segundo Nombre</th>
      <th width="15%">Correo Institucional</th>
      <th width="10%">Estado</th>
      <th width="10%">

      </th>
      </thead>
      <tbody>
      <tr *ngFor="let estudiante of estudiantes">
        <td>
          {{estudiante.identificacion}}
        </td>
        <td>
          {{estudiante.apellido1 }}
        </td>
        <td>
          {{estudiante.apellido2 }}
        </td>
        <td>
          {{estudiante.nombre1 }}
        </td>
        <td>
          {{estudiante.nombre2}}
        </td>
        <td>
          {{estudiante.correo_institucional}}
        </td>
        <td>
          {{estudiante.estado}}
        </td>
        <td class="text-center">
          <button type="button" class="btn ml-1 btn-sm" (click)="validateCupo(estudiante)" title="Aprobar"
                  [ngClass]="{'btn-success':estudiante.estado=='APROBADO','btn-primary':estudiante.estado=='EN_PROCESO'}"
                  [disabled]="estudiante.estado=='APROBADO'"
                  *ngIf="estudiante.estado=='EN_PROCESO' || estudiante.estado=='APROBADO' || estudiante.estado=='MATRICULADO'">
            <span class="{{messages['buttonCheck']['icon']}}"></span>
          </button>
          <button type="button" class="btn btn-warning ml-1 btn-sm text-white" (click)="getDetalleMatricula(estudiante)"
                  title="Asignaturas" *ngIf="estudiante.estado=='EN_PROCESO' || estudiante.estado=='APROBADO'">
                <span class="{{messages['buttonUpdate']['icon']}}">

                </span>
          </button>
          <button type="button" class="btn btn-danger ml-1 btn-sm" (click)="deleteCupo(estudiante)" title="Eliminar"
                  *ngIf="estudiante.estado=='EN_PROCESO'">
            <span class="{{messages['buttonDelete']['icon']}}"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Cupos totales y paginacion-->
<div class="row" *ngIf="!flagAsignaturasCupo && carrera.id!=0 && flagPagination ">
  <div class="col-lg-6">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link bg-dark text-white" href="javascript:void(0)" tabindex="-1"
             (click)="firstPagina()">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" tabindex="-1" (click)="paginacion(false)">Previous</a>
        </li>
        <li class="page-item " [ngClass]="{'active':page === actual_page}" *ngFor="let page of total_pages_pagination"
            (click)="getCupos(page)">
          <a class="page-link" href="javascript:void(0)">{{page}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" (click)="paginacion(true)">Next</a>
        </li>
        <li class="page-item">
          <a class="page-link bg-dark text-white" href="javascript:void(0)" (click)="lastPagina()">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!--Detalle matricula-->
<div class="row mt-3" *ngIf="flagAsignaturasCupo">
  <div class="col-lg-12">
    <h1>{{matriculaSeleccionada.estudiante.apellido1 + ' ' + matriculaSeleccionada.estudiante.apellido2 + ' '
    + matriculaSeleccionada.estudiante.nombre1 + ' ' + matriculaSeleccionada.estudiante.nombre2}}</h1>
    <button type="button" class="btn btn-warning btn-lg mb-1" (click)="cambiarEstadoFlagAsignaturasCupo()">
      <span class="fa fa-arrow-left text-white"> Regresar</span>
    </button>
    <table class="table table-hover table-sm table-responsive">
      <thead class="table-default text-center">
      <th width="35%">Asignatura</th>
      <th width="15%">Número Matrícula</th>
      <th width="13%">Jornada</th>
      <th width="17%">Tipo Matrícula</th>
      <th width="10%">Estado</th>
      <th width="10%">
        <button type="button" class="btn btn-success ml-1 btn-sm"
                (click)="openDetalleMatricula(contentDetalleMatricula)"
                *ngIf="matriculaSeleccionada.estado=='EN_PROCESO' || matriculaSeleccionada.estado=='APROBADO'"
                title="Añadir nueva asignatura">
                <span class="{{messages['buttonAdd']['icon']}}">
                  {{messages['buttonAdd']['text']}}
                </span>
        </button>
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let detalle of detalleMatricula">
        <td>
          <select [(ngModel)]="detalle.asignatura.id" class="form-control"
                  id="detalleAsignatura" name="detalleAsignatura" required (change)="updateDetalleMatricula(detalle)">
            <option value="{{asignatura.id}}" *ngFor="let asignatura of asignaturas">
              {{asignatura.periodo_academico.id + ' ' + asignatura.nombre}}
            </option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="detalle.numero_matricula" class="form-control"
                  id="numero_matricula" name="numero_matricula" required (change)="updateDetalleMatricula(detalle)">
            <option value="{{numeroMatricula.codigo}}" *ngFor="let numeroMatricula of numerosMatricula">
              {{numeroMatricula.descripcion}}
            </option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="detalle.jornada" class="form-control"
                  id="jornada" name="jornada" required (change)="updateDetalleMatricula(detalle)">
            <option value="{{jornada.codigo}}" *ngFor="let jornada of jornadas">
              {{jornada.descripcion}}
            </option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="detalle.tipo_matricula.id" class="form-control"
                  id="tipo_matricula" name="tipo_matricula" required (change)="updateDetalleMatricula(detalle)">
            <option value="{{tipoMatricula.id}}" *ngFor="let tipoMatricula of tiposMatricula">
              {{tipoMatricula.nombre}}
            </option>
          </select>
        </td>
        <td class="text-center">
          {{detalle.estado}}
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-danger ml-1 btn-sm" (click)="deleteDetalleCupo(detalle)" title="Eliminar"
                  *ngIf="detalle.estado=='EN_PROCESO' || detalle.estado=='APROBADO'">
            <span class="{{messages['buttonDelete']['icon']}}"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Nuevo detalle matricula-->
<ng-template #contentDetalleMatricula let-c="close" let-d="dismiss">
  <form name="cupos" method="post" #formCtrl="ngForm">
    <div class="modal-header">
      <div class="row">
        <h4 class="col-12 text-center" name="titulo">Detalle Matrícula</h4>
      </div>
    </div>
    <div class="modal-body">
      <!--Asignatura-->
      <div class="form-group row">
        <div class="col-lg-12">
          <label for="createAsignatura">
            <b class="text-danger">*</b> Asignatura:
          </label>
          <select [(ngModel)]="detalleMatriculaNuevo.asignatura.id" class="form-control"
                  id="createAsignatura" name="createAsignatura" required>
            <option value="0" selected>SELECCIONE...</option>
            <option value="{{asignatura.id}}" *ngFor="let asignatura of asignaturas">
              {{asignatura.periodo_academico.id + ' ' + asignatura.nombre}}
            </option>
          </select>
        </div>
      </div>

      <!--Numero Matricula-->
      <div class="form-group row">
        <div class="col-lg-12">
          <label for="createNumeroMatricula">
            <b class="text-danger">*</b> Número Matrícula:
          </label>
          <select [(ngModel)]="detalleMatriculaNuevo.numero_matricula" class="form-control"
                  id="createNumeroMatricula" name="createNumeroMatricula" required>
            <option value="" selected>SELECCIONE...</option>
            <option value="{{numeroMatricula.codigo}}" *ngFor="let numeroMatricula of numerosMatricula">
              {{numeroMatricula.descripcion}}
            </option>
          </select>
        </div>
      </div>

      <!--Jornada-->
      <div class="form-group row">
        <div class="col-lg-12">
          <label for="createJornada">
            <b class="text-danger">*</b> Jornada:
          </label>
          <select [(ngModel)]="detalleMatriculaNuevo.jornada" class="form-control"
                  id="createJornada" name="createJornada" required>
            <option value="" selected>SELECCIONE...</option>
            <option value="{{jornada.codigo}}" *ngFor="let jornada of jornadas">
              {{jornada.descripcion}}
            </option>
          </select>
        </div>
      </div>

      <!--Tipo Matricula-->
      <div class="form-group row">
        <div class="col-lg-12">
          <label for="createTipoMatricula">
            <b class="text-danger">*</b> Número Matrícula:
          </label>
          <select [(ngModel)]="detalleMatriculaNuevo.tipo_matricula.id" class="form-control"
                  id="createTipoMatricula" name="createTipoMatricula" required>
            <option value="0" selected>SELECCIONE...</option>
            <option value="{{tipoMatricula.id}}" *ngFor="let tipoMatricula of tiposMatricula">
              {{tipoMatricula.nombre}}
            </option>
          </select>
        </div>
      </div>

      <!--Paralelo-->
      <div class="form-group row">
        <div class="col-lg-12">
          <label for="createParalelo">
            <b class="text-danger">*</b> Paralelo:
          </label>
          <select [(ngModel)]="detalleMatriculaNuevo.paralelo" class="form-control"
                  id="createParalelo" name="createParalelo" required>
            <option value="" selected>SELECCIONE...</option>
            <option value="{{paralelo.codigo}}" *ngFor="let paralelo of paralelos">
              {{paralelo.descripcion}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <h6 class="text-muted">
        <b class="text-danger">{{messages['requiredFields']['icon']}} </b>
        {{messages['requiredFields']['text']}}
      </h6>
      <button type="button" class="btn btn-success" (click)="c('save')" [disabled]="formCtrl.form.invalid">
        <span
          class="{{messages['saveConfirmationDialog']['iconOk']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['ok']}}
      </button>
      <button type="button" class="btn btn-danger" (click)="c('close')">
        <span
          class="{{messages['saveConfirmationDialog']['iconCancel']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['cancel']}}
      </button>
    </div>
  </form>
</ng-template>

