<div class="row">
  <div class="col-lg-12">
    <ngb-tabset >
      <ngb-tab title="Periodo Lectivo" id="tab1">
        <ng-template ngbTabContent>
          <app-seccion1></app-seccion1>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Usuario" id="tab2" >
        <ng-template ngbTabContent>
          <app-seccion2></app-seccion2>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Sección 3" id="tab3" >
        <ng-template ngbTabContent>
          <app-seccion3></app-seccion3>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Formulario" id="tab4" >
        <ng-template ngbTabContent>
          <app-formulario></app-formulario>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Solicitud" id="tab5" >
        <ng-template ngbTabContent>
          <app-solicitud></app-solicitud>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
