<!--Encabezado-->
<div class="row">
  <div class="col-lg-2">
    <h5 class="text-muted">MATRÍCULAS</h5>
  </div>
  <div class="col-lg-2">
    <button type="button" [className]="classContadorMatriculados" (click)="getMatriculadosCount()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<hr>
<!--Titulo Institutos-->
<div class="row">
  <div class="col-lg-12">
    <h1>INSTITUTOS:</h1>
  </div>
</div>
<hr>
<!--Graficos Institutos-->
<div class="row" *ngIf="flagGraficos">
  <div #graficosInstitutos class="col-lg-4" *ngFor="let instituto of total_matriculados_institutos_count">
    <canvas id="{{'instituto_'+instituto.instituto_id}}" class="chart chart-bar" chart-data="data"
            chart-labels="labels"></canvas>
    <hr>
  </div>
</div>
<!--Resumen Institutos-->
<div *ngIf="!flagGraficos">
  <div class="row">
    <div class="col-xl-4" *ngFor="let matricula of total_matriculados_institutos_count">
      <div class="card">
        <div style="height: 150px;">
          <div class="card-header bg-white h-100 text-center">
            <img src="{{'assets/images/logo_instituto_'+matricula.instituto_id +'.png'}}" alt="" class="img-thumbnail">
            <h6 class="text-muted">{{matricula.instituto}}</h6>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <button [className]="classContadorMatriculados">
                Matriculados: {{matricula.total_matriculados}}
              </button>
              <button [className]="classContadorAprobados">
                Aprobados: {{matricula.total_aprobados}}
              </button>
              <button [className]="classContadorEnProceso">
                En Proceso: {{matricula.total_en_proceso}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<!--Titulo Carreras-->
<div class="row">
  <div class="col-lg-12">
    <h1>CARRERAS:</h1>
  </div>
</div>
<hr>
<!--Graficos Carreras-->
<div class="row" *ngIf="flagGraficos">
  <div #graficosCarreras class="col-lg-4" *ngFor="let matricula of total_matriculados_carreras_count">
    <canvas id="{{'carrera_'+matricula.carrera_id}}" class="chart chart-bar" chart-data="data"
            chart-labels="labels"></canvas>
    <hr>
  </div>
</div>
<!--Resumen Carreras-->
<div class="row" *ngIf="!flagGraficos">
  <div class="col-xl-4" *ngFor="let matricula of total_matriculados_carreras_count">
    <div class="card">
      <div style="height: 250px;">
        <div class="card-header bg-white h-100 text-center"
             [ngClass]="{'bg-warning':matricula.malla=='MALLA ANTIGUA'}">
          <img src="{{'assets/images/logo_carrera_'+matricula.carrera_id +'.jpg'}}" alt="" class="img-thumbnail">
          <h6 class="text-muted">{{matricula.malla}}</h6>
          <div class="row">
            <div class="col-lg-12">
              <button [className]="classContadorMatriculados">
                Matriculados: {{matricula.total_matriculados}}
              </button>
              <button [className]="classContadorAprobados">
                Aprobados: {{matricula.total_aprobados}}
              </button>
              <button [className]="classContadorEnProceso">
                En Proceso: {{matricula.total_en_proceso}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!--Primero Semestre-->
        <div class="row">
          <div class="col-lg-12 text-center">
            <h5>PRIMERO</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <button [className]="classContadorMatriculados">
              Matriculados: {{matricula.matriculados_1}}
            </button>
            <button [className]="classContadorAprobados">
              Aprobados: {{matricula.aprobados_1}}
            </button>
            <button [className]="classContadorEnProceso">
              En Proceso: {{matricula.en_proceso_1}}
            </button>
          </div>
        </div>
        <!--Segundo Semestre-->
        <hr>
        <div class="row">
          <div class="col-lg-12  text-center">
            <h5>SEGUNDO</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <button [className]="classContadorMatriculados">
              Matriculados: {{matricula.matriculados_2}}
            </button>
            <button [className]="classContadorAprobados">
              Aprobados: {{matricula.aprobados_2}}
            </button>
            <button [className]="classContadorEnProceso">
              En Proceso: {{matricula.en_proceso_2}}
            </button>
          </div>
        </div>
        <!--Tercero Semestre-->
        <hr>
        <div class="row">
          <div class="col-lg-12  text-center">
            <h5>TERCERO</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <button [className]="classContadorMatriculados">
              Matriculados: {{matricula.matriculados_3}}
            </button>
            <button [className]="classContadorAprobados">
              Aprobados: {{matricula.aprobados_3}}
            </button>
            <button [className]="classContadorEnProceso">
              En Proceso: {{matricula.en_proceso_3}}
            </button>
          </div>
        </div>
        <!--Cuarto Semestre-->
        <hr>
        <div class="row">
          <div class="col-lg-12 text-center">
            <h5>CUARTO</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <button [className]="classContadorMatriculados">
              Matriculados: {{matricula.matriculados_4}}
            </button>
            <button [className]="classContadorAprobados">
              Aprobados: {{matricula.aprobados_4}}
            </button>
            <button [className]="classContadorEnProceso">
              En Proceso: {{matricula.en_proceso_4}}
            </button>
          </div>
        </div>
        <!--Quinto Semestre-->
        <hr>
        <div class="row">
          <div class="col-lg-12  text-center">
            <h5>QUINTO</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <button [className]="classContadorMatriculados">
              Matriculados: {{matricula.matriculados_5}}
            </button>
            <button [className]="classContadorAprobados">
              Aprobados: {{matricula.aprobados_5}}
            </button>
            <button [className]="classContadorEnProceso">
              En Proceso: {{matricula.en_proceso_5}}
            </button>
          </div>
        </div>
        <!--Sexto Semestre-->
        <hr>
        <div class="row">
          <div class="col-lg-12  text-center">
            <h5>SEXTO</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <button [className]="classContadorMatriculados">
              Matriculados: {{matricula.matriculados_6}}
            </button>
            <button [className]="classContadorAprobados">
              Aprobados: {{matricula.aprobados_6}}
            </button>
            <button [className]="classContadorEnProceso">
              En Proceso: {{matricula.en_proceso_6}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

